* {
    margin: 10;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: rgb(240, 240, 240);
    height: 100%;
}

header {
    height: 200px;
    background-color: rgb(200, 200, 200);
    background-image: url(./img/nature-2651440_1920.jpg);
    background-size: cover;
}

h1 {
    color: rgb(10, 80, 200);
    text-shadow: 0px, 0px, 0px, black;
    text-align: center;
    padding-top: 80px;
}

button,
.timer_value {
    font-family: 'Mulish', sans-serif;
}

#timer_wrapper {
    padding-top: 20px;
    text-align: center;
}

#timer_output {
    padding-top: 20px;
}

.footer {
    display: flex;
    position: relative;
    width: 100%;
}

#footer_nav {
    position: absolute;
    bottom: 0;
    float: left;
    color: rgb(180, 180, 180)
}